<div id="vote">
  <p>Cast your vote now!</p>
  <%= link_to "Scrape Contact", "", :class => 'btn', :id => 'scrape_contact' %>
  <%= link_to "Nevermind", "", :class => 'fvb_close' %>
</div>
<div id="results" style="display:none;">
  <p>Here is some data we found for the contact</p>
  <%= link_to "save contact", "", :class => 'btn', :id => 'save_contact' %>
  <%= link_to "cancel", "", :class => 'btn', :class => 'fvb_close' %>
  <div id="scraped_name">name</div>
  <ul id="scraped_skills" id="double"></ul>
  <ul id="scraped_experience"><ul>
</div>

