<div id="vote">
  <p>Cast your vote now!</p>
  <%= link_to "Scrape Contact", "", :class => 'btn', :id => 'scrape_contact' %>
  <%= link_to "Nevermind", "", :class => 'fvb_close' %>
</div>
<div id="results" style="display:none;">
  <p>Here is some data we found for the contact</p>
  <div id="scraped_name">name</div>
  <ul id="scraped skills"></ul>
  <ul id="scraped experience"><ul>
  <%= link_to "Thank you, come again!", "", :class=>"fvb_close" %>
</div>

