// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#your_vote{

  span{
    display:block;
  }

  label{
    border:1px solid #aaa;
    border-radius: 8px; 
    -moz-border-radius: 8px; 
    -webkit-border-radius: 8px;
    padding:10px;
    margin:10px;
    text-align:center;
    float:left;
    width:50px;
    background:#efefef;

    transition: background 1s;
    -moz-transition: background 1s;
    -webkit-transition: background 1s;
    -o-transition: background 1s;

    &.active{
      background:black;
      color:white;
    }

    input{
      
    }
  }

}
