<div id="logo_bar">
  <div id="logo_frame">
    <div id="badge">
      <a href="/">
      <span id="foo">Foo</span>
      <span id="vs">vs.</span>
      <span id="baz">Baz</span>
      </a>
    </div>
  </div>
</div>

