<!DOCTYPE html>
<html>
<head>
  <title>FooVsBaz</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="top_bar">
  <div id="page_header">
    <div id="badge">
      <span id="foo">Foo</span>
      <span id="vs">vs.</span>
      <span id="baz">Baz</span>
    </div>
    </div>
</div>
<%= yield %>

</body>
</html>
